name: Continuous Integration
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore ./src/ExpressiveFit.sln

      - name: Build
        run: dotnet build ./src/ExpressiveFit.sln --no-restore --configuration Release

      - name: Run tests
        run: dotnet test ./src/ExpressiveFit.sln --no-build --configuration Release --verbosity normal
